{% extends "radiotracking/base.html" %}

{% block content %}

<p>Add a new program:</p>

<form action="{% url 'radiotracking:add_program' %}" method='post'>

  {% csrf_token %}
  {{ form.as_p }}



  <button type="button" onclick="daily(true)">Daily</button>
  <button type="button" onclick="weekdays()">Weekdays</button>
  <button type="button" onclick="weekends()">Weekends</button>
  <button type="button" onclick="daily(false)">Clear</button>

  <br>

  <button name="submit">add program</button>
</form>

<script>

/** Automatically check the weekday checkboxes, and uncheck weekends. */
function weekdays() {
  var monFri = ["id_mon", "id_tue", "id_wed", "id_thu", "id_fri"];
	var satSun = ["id_sat", "id_sun"];
	// Check weekdays.
	for(var i = 0; i < monFri.length; i++) {
	    document.getElementById(monFri[i]).checked = true;
	}
	// Uncheck weekends.
	for(var i = 0; i < satSun.length; i++) {
	    document.getElementById(satSun[i]).checked = false;
	}
}

/** Automatically check weekend checkboxes, and uncheck weekdays. */
function weekends() {
  var monFri = ["id_mon", "id_tue", "id_wed", "id_thu", "id_fri"];
	var satSun = ["id_sat", "id_sun"];
	// Check weekends.
	for(var i = 0; i < satSun.length; i++) {
	    document.getElementById(satSun[i]).checked = true;
	}
  // Uncheck weekdays.
	for(var i = 0; i < monFri.length; i++) {
	    document.getElementById(monFri[i]).checked = false;
	}
}

/** Automatically check both weekday and weekend checkboxes. */
function daily(checkStatus) {
    var wholeWeek = ["id_mon", "id_tue", "id_wed", "id_thu", "id_fri",
                     "id_sat", "id_sun"];
    for(var i = 0; i < wholeWeek.length; i++) {
	    document.getElementById(wholeWeek[i]).checked = checkStatus;
	}
}
</script>

{% endblock content %}
