{% extends "radiotracking/base.html" %}

{% block content %}

<p>Radio Stations</p>

<table border="1">

  <tr>
    <th>Station</th>
    <th>Website</th>
    <th>Stream</th>
    <th>RF Frequency</th>
    <th>Location</th>
  </tr>

  {% for station in stations %}
    <tr>
      <!-- This doesn't currently link to the station page. Consider adding two
      links: 1. To the station itself, 2. To the station page in this webapp.-->
      <td><a href="{% url 'radiotracking:station' station.id %}">
        {{ station.name }}</a>
      </td>
      
      <td>
	{% if station.website %}
	<a href="{{station.website}}">{{ station.name }} website</a>
	{% endif %}
      </td>
      
      <td>
	{% if station.stream_url %}
	<a href="{{station.stream_url}}">{{ station.name }} stream</a>
        {% endif %}
      </td>
      
      <td>
	{% if station.band != 'NA' %}      
	{{ station.band }} {{ station.freq }}
        {% endif %}
      </td>
      
      <td>{{ station.location }}</td>
    </tr>
  {% empty %}
    <tr>
      <td>No stations added yet.</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
  {% endfor %}
</table>

<br>

<a href="{% url 'radiotracking:add_station' %}">Add a new Station</a>

{% endblock content %}
